{
    "development": {
        "database": "",
        "path": "",
    },
    "staging": {
        "database": "",
        "path": "",
    },
    "production": {
        "database": "",
        "path": "",
    }
}